html {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    text-align: center;
}

main {
    background-color: lightgray;
    border: 0.05rem solid gray;
    border-radius: 0.8rem;
    margin: 2rem auto;
    padding: 1rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0F0F0F;
        color: white;
    }

    main {
        background-color: #2D383A;
        border-color: azure;
    }
}